#msg-box3-o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content4-4 P {
  text-align: center;
}
#contacts2-7 P {
  color: #ffffff;
}
#menu-9 .navbar-toggler {
  color: #605d5d;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-9 .mbr-navbar__section {
  background: #ffffff;
}
#menu-9 .mbr-navbar__hamburger {
  color: #605d5d;
}
