@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#header2-0 P {
  color: #000000;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
#slider-1 H2 {
  color: #da322d;
}
